name: rust

on:
  schedule:
    - cron: '0 0 * * *'
  push:
    paths:
      - '.github/workflows/rust.yml'
      - 'rust/checkArch.js'
    branches:
      - master
  workflow_dispatch:
    inputs:
      v:
       description: 'rust version'
       required: true
       type: 'string'
jobs:
  version:
    runs-on: ubuntu-22.04
    permissions: write-all
    outputs:
      ve: ${{ steps.v.outputs.ve }}
      u: ${{ steps.v.outputs.u }}
      checkArch: ${{ steps.v.outputs.checkArch }}
      buildVe: ${{ steps.buildV.outputs.ve }}
      buildVu: ${{ steps.buildV.outputs.u }}
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
      - name: Checkout Runtime
        run: |
          git clone https://gist.github.com/inkroom/501548078a930c6f3bd98ea257409648 runtime
      - name: Rust
        uses: dtolnay/rust-toolchain@stable
        with:
          toolchain: stable
      - name: Fetch Latest Version
        id: v
        run: |
          if [[ "${{ inputs.v }}" == "" ]]
          then
            ve=$(rustc --version | awk '{print $2}')
            d=$(docker run --rm inkbox/rust:latest rustc --version || echo "rustc null")
            echo "docker version=$d"
            echo "latest version=$ve"
            d=$(echo $d | awk '{print $2}')
            echo "ve=$ve" >> $GITHUB_OUTPUT
            if [[ "$d" =~ "$ve"  ]]; then
              echo "已是最新版本 $ve"      
              echo "u=false" >> $GITHUB_OUTPUT
              echo "checkArch=true" >> $GITHUB_OUTPUT
            else 
              echo "u=true" >> $GITHUB_OUTPUT
              echo "checkArch=false" >> $GITHUB_OUTPUT
              echo "发现最新版本 $ve"
            fi
          else
              ve="${{ inputs.v }}"
              echo "ve=$ve" >> $GITHUB_OUTPUT
              echo "u=true" >> $GITHUB_OUTPUT
              echo "checkArch=false" >> $GITHUB_OUTPUT
              echo "手动版本 $ve"
          fi
      - name: Rust Build Latest Version
        id: buildV
        run: |
          if [[ "${{ inputs.v }}" == "" ]]
          then
            d=$(docker run --rm ghcr.io/${{ github.repository_owner }}/rust_musl_build:latest rustc --version || echo "rustc null")
            d=$(echo $d | awk '{print $2}')
            if [[ $d == "null" ]]
            then 
              echo "暂无最新版本"
              echo "ve=${{ steps.v.outputs.ve }}" >> $GITHUB_OUTPUT
              echo "u=false" >> $GITHUB_OUTPUT
            fi
            echo "docker version=$d"
            echo "latest version=${{ steps.v.outputs.ve }}"
            echo "ve=$d" >> $GITHUB_OUTPUT
            if [[ "$d" =~ "${{ steps.v.outputs.ve }}"  ]]; then
              echo "已是最新版本 $ve"
              echo "u=false" >> $GITHUB_OUTPUT
            else 
              echo "最新版本 ${{ steps.v.outputs.ve }}"
              echo "ve=${{ steps.v.outputs.ve }}" >> $GITHUB_OUTPUT
              echo "u=true" >> $GITHUB_OUTPUT
            fi
          else
              echo "手动版本 ${{ inputs.v }}"
              echo "ve=${{ inputs.v }}" >> $GITHUB_OUTPUT
              echo "u=true" >> $GITHUB_OUTPUT
          fi
  arch: 
    runs-on: ubuntu-22.04
    needs: [version]
    outputs:
      dev_arch: ${{ steps.arch.outputs.dev_arch }}
      musl_arch: ${{ steps.arch.outputs.musl_arch }}
      musl_arch_raw: ${{ steps.arch.outputs.musl_arch_raw }}
      u: ${{ steps.check.outputs.u }}
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
      - name: arch
        id: arch
        run: |
          dev_arch=$(curl -sL https://hub.docker.com/v2/namespaces/library/repositories/debian/tags/bookworm-slim | jq -c '.images | unique_by(.architecture) | [.[] | select(.architecture!="unknown") | select (.architecture!="ppc64le") | select(.architecture!="mips64le") | select(.os!="unknown") | .os + "/" + .architecture]')
          echo "dev_arch=$dev_arch"
          musl_arch=$(curl -sL https://hub.docker.com/v2/namespaces/library/repositories/debian/tags/buster | jq -c '[.images[] | select(.architecture!="unknown") | select(.architecture!="386") | select(.architecture!="arm") | select(.os!="unknown") | .os + "/" + .architecture]')
          musl_arch_raw=$(curl -sL https://hub.docker.com/v2/namespaces/library/repositories/debian/tags/buster | jq -c --raw-output '[.images[] | select(.architecture!="unknown") | select(.architecture!="386") | select(.architecture!="arm") | select(.os!="unknown") | .os + "/" + .architecture] | join(",")')
          echo "musl_arch=$musl_arch"
          echo "musl_arch_raw=$musl_arch_raw"
          echo "musl_arch_raw=$musl_arch_raw" >> $GITHUB_OUTPUT
          echo "dev_arch=$dev_arch" >> $GITHUB_OUTPUT
          echo "musl_arch=$musl_arch" >> $GITHUB_OUTPUT
      - name: check
        id: check
        run: |
          if [[ "${{ needs.version.outputs.checkArch }}" =~ "true"  ]]; then

            # 校验 架构
            cd rust
            npm i axios cherio
            arch=$(node checkArch.js '${{ steps.arch.outputs.dev_arch }}' ${{ needs.version.outputs.ve }})
            if [[ "$arch" =~ "true"  ]]; then
              echo '架构一致 ${{ steps.arch.outputs.dev_arch }}'
              echo "u=false" >> $GITHUB_OUTPUT
            else 
              echo '架构遗漏 ${{ steps.arch.outputs.dev_arch }}'
              echo "u=true" >> $GITHUB_OUTPUT
            fi
          else
            # 版本更新
            echo "u=true" >> $GITHUB_OUTPUT
          fi

  dev:
    runs-on: ubuntu-22.04
    permissions: write-all
    needs: [version, arch]
    if: needs.arch.outputs.u == 'true' || needs.version.outputs.u == 'true'
    strategy:
      matrix:
        platform: ${{ fromJSON( needs.arch.outputs.dev_arch ) }}
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
      - name: Checkout Runtime
        run: |
          git clone https://gist.github.com/inkroom/501548078a930c6f3bd98ea257409648 runtime
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
      - name: Log in to the Container registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - name: Log in to the Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_HUB_USERNAME }}
          password: ${{ secrets.DOCKER_HUB_PASSWORD }}
      - name: Arch
        id: arch
        run: |
          arch=${{ matrix.platform }}
          echo "arch=${arch//\//-}" >> $GITHUB_OUTPUT
      - name: Extract metadata (tags, labels) for Docker
        id: meta
        uses: docker/metadata-action@v5
        with:
          images: |
            ${{ secrets.DOCKER_HUB_USERNAME }}/rust
          tags: |
            type=raw,value=${{ needs.version.outputs.ve }}
          labels: |
            org.opencontainers.image.description=rust开发环境-${{ needs.version.outputs.ve }}
            org.opencontainers.image.title=rust-${{ needs.version.outputs.ve }}
      - name: Build Docker image
        id: build
        uses: docker/build-push-action@v5
        with:
          context: runtime
          file: runtime/Dockerfile.rust
          labels: ${{ steps.meta.outputs.labels }}
          platforms: ${{ matrix.platform }}
          outputs: type=image,name=${{ secrets.DOCKER_HUB_USERNAME }}/rust,push-by-digest=true,name-canonical=true,push=true
          github-token: ${{ secrets.GITHUB_TOKEN }}
          build-args: |
            RUST_VERSION=${{ needs.version.outputs.ve }}
      - name: Export digest
        run: |
          mkdir -p /tmp/digests
          digest="${{ steps.build.outputs.digest }}"
          touch "/tmp/digests/${digest#sha256:}"
      - name: Upload digest
        uses: actions/upload-artifact@v4
        with:
          name: digests-${{ steps.arch.outputs.arch }}
          path: /tmp/digests/*
          if-no-files-found: error
          retention-days: 1
  combine:
    runs-on: ubuntu-22.04
    permissions: write-all
    needs: [version, dev]
    # 使用 manifest 合并会报  is a manifest list  可能跟qemu buildx 有关，所以换种方案
    if: needs.arch.outputs.u == 'true'
    steps:
      - name: Download digests
        uses: actions/download-artifact@v4
        with:
          pattern: digests-*
          path: /tmp/digests
          merge-multiple: true
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
      - name: Docker meta
        id: meta
        uses: docker/metadata-action@v5
        with:
          images: |
            ${{ secrets.DOCKER_HUB_USERNAME }}/rust
          tags: |
            type=raw,value=${{ needs.version.outputs.ve }}
            type=raw,value=latest
          labels: |
            org.opencontainers.image.description=rust开发环境-${{ needs.version.outputs.ve }}
            org.opencontainers.image.title=rust-${{ needs.version.outputs.ve }}
      - name: Log in to the Container registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_HUB_USERNAME }}
          password: ${{ secrets.DOCKER_HUB_PASSWORD }}
      - name: Create manifest list and push
        working-directory: /tmp/digests
        run: |
          tree /tmp/digests
          docker buildx imagetools create $(jq -cr '.tags | map("-t " + .) | join(" ")' <<< "$DOCKER_METADATA_OUTPUT_JSON") $(printf '${{ secrets.DOCKER_HUB_USERNAME }}/rust@sha256:%s ' *)
          # ghcr 429错误
          # echo "-------------ghcr-----------" 
          # docker buildx imagetools create \
          #  --tag ghcr.io/${{ github.repository_owner }}/rust:${{ needs.version.outputs.ve }} \
          #  ${{ secrets.DOCKER_HUB_USERNAME }}/rust:${{ needs.version.outputs.ve }}
          #sleep 20
          #echo "---------${{ needs.version.outputs.ve }}-------"
          #docker buildx imagetools create \
          #  --tag ghcr.io/${{ github.repository_owner }}/rust:${{ needs.version.outputs.ve }} \
          #  ${{ secrets.DOCKER_HUB_USERNAME }}/rust:${{ needs.version.outputs.ve }}
      - name: Inspect image
        run: |
          docker buildx imagetools inspect ${{ secrets.DOCKER_HUB_USERNAME }}/rust:${{ needs.version.outputs.ve }}
          echo "------------------------"
       #   docker buildx imagetools inspect ghcr.io/${{ github.repository_owner }}/rust:${{ needs.version.outputs.ve }}
  musl:
    runs-on: ubuntu-22.04
    needs: [version, arch]
    strategy:
      matrix:
        target: [{"platform":"linux/amd64","target":"x86_64-musl"},{"platform":"linux/arm64","target":"aarch64-musl"}]
    # if: needs.version.outputs.buildVu == 'true'
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
      - name: Log in to the Container registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - name: Log in to the Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_HUB_USERNAME }}
          password: ${{ secrets.DOCKER_HUB_PASSWORD }}
      - name: Export digest
        id: export
        run: |
          docker pull --platform ${{ matrix.target.platform }} blackdex/rust-musl:${{ matrix.target.target }}-stable-${{ needs.version.outputs.buildVe }}
          digest=$(docker images --digests blackdex/rust-musl | head -n 2 | tail -n 1 | awk '{print $3}')
          docker tag blackdex/rust-musl:${{ matrix.target.target }}-stable-${{ needs.version.outputs.buildVe }} ghcr.io/${{ github.repository_owner }}/rust_musl_build
          echo "digest=$digest"
          docker push ghcr.io/${{ github.repository_owner }}/rust_musl_build:$digest
          mkdir -p /tmp/digests
          touch "/tmp/digests/${digest#sha256:}"
          arch="${{ matrix.platform }}"
          echo "arch=${arch//\//-}" >> $GITHUB_OUTPUT
      - name: Upload digest
        uses: actions/upload-artifact@v4
        with:
          name: musl-digests-${{ steps.export.outputs.arch }}
          path: /tmp/digests/*
          if-no-files-found: error
          retention-days: 1

  musl-combile:
    runs-on: ubuntu-22.04
    permissions: write-all
    needs: [version, arch, musl]
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
      - name: Download digests
        uses: actions/download-artifact@v4
        with:
          pattern: musl-digests-*
          path: /tmp/digests
          merge-multiple: true
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
      - name: Log in to the Container registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - name: Docker meta
        id: meta
        uses: docker/metadata-action@v5
        with:
          images: |
            ghcr.io/${{ github.repository_owner }}/rust_musl_build
          tags: |
            type=raw,value=beta
          labels: |
            org.opencontainers.image.description=rust构建环境-${{ needs.version.outputs.buildVe }}
            org.opencontainers.image.title=rust_musl_build-${{ needs.version.outputs.buildVe }}
      - name: Push Beta Image
        working-directory: /tmp/digests
        run: |
          tree /tmp/digests
          docker buildx imagetools create $(jq -cr '.tags | map("-t " + .) | join(" ")' <<< "$DOCKER_METADATA_OUTPUT_JSON") $(printf 'ghcr.io/${{ github.repository_owner }}/rust_musl_build@sha256:%s ' *)

      - name: Test musl Image
        uses: docker/build-push-action@v5
        with:
          context: rust
          file: rust/Dockerfile.test
          push: false
          load: false
          platforms: ${{ needs.arch.outputs.musl_arch_raw }}
          github-token: ${{ secrets.GITHUB_TOKEN }}
          build-args: |
            IMAGE=ghcr.io/${{ github.repository_owner }}/rust_musl_build:beta
      - name: Inspect Image And Push Release Image
        run: |
          docker buildx imagetools create \
            --tag ghcr.io/${{ github.repository_owner }}/rust_musl_build:latest \
            --tag ghcr.io/${{ github.repository_owner }}/rust_musl_build:${{ needs.version.outputs.buildVe }} \
            ghcr.io/${{ github.repository_owner }}/rust_musl_build:beta
          docker buildx imagetools inspect ghcr.io/${{ github.repository_owner }}/rust_musl_build:${{ needs.version.outputs.buildVe }}
